<div class="card center">
  <div class="card-header">
    Welcome to my recipes
  </div>
  <div class="card-body">
    <h5 class="card-title">This is best sharing recipes app</h5>
    <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-large" %></p>
  </div>
</div>